html{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: #F6F4F0;
    margin: 0;
}
.main-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #2E5077;
    padding: 10px;
    align-content: center;
    align-items: center;
    font-family: "Montserrat", serif;
    background-color: #2E5077;
}

h1 {
    font-family: "Montserrat", serif;
    color: #2E5077;
    font-size: 38px;
}

#greating {
    text-align: center;
}

#promotion {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 20px;
    font-family: "Montserrat", serif;
}

@media screen and (max-width: 768px) {
    #promotion {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.logo-icon {
    width: 150px;
}

.logo-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .main-header {
        flex-direction: column;
    }
    
    .main-nav {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .left-rounded {
        border-radius: 5px 5px 0px 0px;
    }

    .right-rounded {
        border-radius: 0px 0px 5px 5px;
    }

    .logo-icon {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 769px) {
    .left-rounded {
        border-radius: 5px 0px 0px 5px;
    }
    
    .right-rounded {
        border-radius: 0px 5px 5px 0px;
    }
}
nav {
    display: flex;
    justify-content: space-between;
    margin-right: 10px; ;
    background-color: #2E5077; ;
    border-radius: 5px;
    color: #61677A;
}

nav>a {
    border: 0px solid;
    padding: 8px;
    color: #F6F4F0;
    text-decoration-line: none;
}

.banner-image {
    border: 0px solid;
    height: 500px;
}

.banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-slideshow{
    padding: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#button-previous {
    background-color: #2E5077;
    padding: 10px;
    font-family: "Montserrat", serif;
    color: #F6F4F0;
    border-radius: 5px;
    width: 80px;
    margin-right: 5px;
}

#button-next {
    background-color: #2E5077;
    padding: 10px;
    font-family: "Montserrat", serif;
    color: #F6F4F0;
    border-radius: 5px;
    width: 80px;
    margin-left: 5px;
}

#why-choose-us {
    margin-top: 100px;
    text-align: center;
}

.why-choose-us-content {
    font-family: "Montserrat", serif;
    color: #4DA1A9;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

#our-services {
    text-align: center;
    color: #F6F4F0;
    font-family: 'Montserrat', serif;
    margin-top: 40px;
}

#our-services-content {
    background-color: #2E5077;
    color: #79D7BE;
    padding: 30px;
    display: flex;
    font-family: 'Montserrat', serif;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1180px) {
    #our-services-content {
        flex-direction: column;
        text-align: center;
    }
}

@media  screen and (min-width: 1181px) {
    #our-services-content {
        height: 400px;
    }
}

#loc {
    font-family: "Montserrat", serif;
}

#location {
    text-align: center;
}

#location-content {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    justify-content: center;
    gap: 2rem;
}

.fotokota {
    width: 200px;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    #location-content{
        flex-direction: column;
        gap: 10px;
    }    
}

.messageUs {
    margin-top: 100px;
    padding-top: 10px;
    background-color: #4DA1A9;
}

#message-us {
    text-align: center;
}

form {
    font-family: "Montserrat", serif;
    width: 50%;
    display: flex;
    flex-direction: column;
}

form input {
    background-color: #61677A;
    color: #FFF6E0;
}

form textarea {
    background-color: #61677A;
    color: #FFF6E0;
}

#message-us-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #F6F4F0;
    padding: 5%;
    gap: 1rem;
    background-color: #4DA1A9;
    font-family: "Montserrat", serif;
}

#message-content {
    width: 50%;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    #message-us-content {
        flex-direction: column;
    }

    #message-content {
        width: 95%;
        padding: 10px;
    }

    form {
        width: 100%;
    }
    
}
#submit {
    width: 100%;
    padding: 5px
}

form button{
    background-color: #61677A;
    border-radius: 5px;
    color: #F6F4F0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    font-family: "Montserrat", serif;
}

#footerlogo {
    width: 200px;
}

